<h3>Note Editor</h3>
<div>
    <div>
        <form>
            <fieldset>
                <legend>Note</legend>
                <input type="text" data-ng-model="note.film_id" readonly hidden/>
                <label>Note:
                    <textarea id="note-textarea" data-ng-model="note.comment"></textarea>
                </label>

                <div id="note-bottom-row">
                    <div id="noteButtons">
                        <button data-ng-click="updateNote()">Save</button>
                        <button data-ng-click="closeNoteEditor()">Close</button>
                    </div>
                    <div>
                        <p>Last edit by: {{note.user}} at {{note.lastupdated}}.</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>